body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#header {
    background: linear-gradient(135deg, #8A2BE2, #4B0082, #2C003E);
    color: #fff;
    padding: 30px 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Georgia', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#sidebar {
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-right: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

#content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #8A2BE2;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

#btn:hover {
    background-color: #4B0082;
}

.contact-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.contact-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.contact-card img:hover {
    transform: scale(1.1);
}

.contact-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.contact-card p {
    margin: 5px 0;
    color: #777;
}

#contactForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contactForm input,
#contactForm select,
#contactForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contactForm button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contactForm button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.8em;
}
