body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  #header {
    background-color: rgb(161, 220, 222);
    color: black;
    padding: 50px;
    text-align: center;
    font-size: 2.0em;
    font-style: bold;
  }
  #sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  #content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(64, 62, 62);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
  }
  .btn:hover {
    background-color: #45a049;
  }
  .contact-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  .contact-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
  }
  .contact-card h3 {
    margin: 0;
    font-size: 1.2em;
  }
  .contact-card p {
    margin: 5px 0;
    color: #555;
  }
  #contactForm {
    max-width: 500px;
    margin: 0 auto;
  }
  #contactForm input,
  #contactForm select,
  #contactForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  #contactForm button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  #contactForm button:hover {
    background-color: #45a049;
  }
  .error {
    color: red;
    font-size: 0.8em;
  }